$header-size: 180px;
$footer-size: 100px;
$header-color: #404D7D;
$hover-color: #4096ff;
$excellent-grade-color: #B6F1A1;
$good-grade-color: #A1DEF1;
$satisfactory-grade-color: #F1EEA1;
$unsatisfactory-grade-color: #F1A6A1;
