$header-size: 180px;
$footer-size: 100px;
$header-color: linear-gradient(90deg, #404D7D 0%, rgba(64, 77, 125, 0) 100%);
$hover-color: #4096ff;
$antd-checkbox-color: #1677ff;
$excellent-grade-color: #B6F1A1;
$good-grade-color: #A1DEF1;
$satisfactory-grade-color: #F1EEA1;
$unsatisfactory-grade-color: #F1A6A1;
