@import "styles/mixins";

.grade {
    @include grade;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attemptList {
    border: 1px solid black;

    td {
        height: 90px;

        &:nth-child(7) {
            padding: 0 !important;
        }
    }
}
