@import "styles/variables";

.form {
    margin-right: 50px;

    :global .ant-input-disabled {
        border: none;
        cursor: text;
        background-color: white;
        color: black;
    }
}

.card {
    margin: 50px 0;
    border: 1px solid black;

    :global {
        .ant-card-head {
            border-bottom: 1px solid black;
        }
    }

    .cardTitle {
        justify-content: space-between;
        align-items: center;
    }
}

.examName input {
    margin-top: 50px;
    border: 1px solid black;
}

.controls {
    gap: 24px;
}
